/* General Styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #332b2b;
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  padding: 20px;
}

/* Header */
h1 {
  text-align: center;
  font-size: 36px;
  color: #4caf50;
  margin-bottom: 20px;
}
p {
  font-size: 18px;
  color: #43a7d2;
  text-align: center;
}

/* Panel Container */
.panel-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.panel {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  max-width: 300px;
  width: 100%;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.panel-title,
.image-input,
.text-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

img {
  max-width: 100%;
  height: auto;
  margin: 10px 0;
  border-radius: 5px;
}

/* Buttons */
.buttons {
  margin-top: 20px;
}

.add-btn,
.export-btn {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  transition: background-color 0.3s ease;
}

.add-btn:hover,
.export-btn:hover {
  background-color: #45a049;
}

.add-btn:focus,
.export-btn:focus {
  outline: none;
}

/* Home Page Links */
.home-links {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.home-link {
  background-color: #2196f3;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.home-link:hover {
  background-color: #1976d2;
}

/* Auth Forms (Signup & Login) */
.auth-container {
  background-color: #bd5757;
  padding: 20px;
  margin: 20px auto;
  max-width: 400px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.auth-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-container input {
  width: 90%;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

.auth-container button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  transition: background-color 0.3s ease;
}

.auth-container button:hover {
  background-color: #45a049;
}
